<nav class="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/overview">Overview</a></li>
        <li><a href="/byplayer">Players</a></li>
        <li><a href="/allsessions">Sessions</a></li>
        <li><a href="/newsession">Add</a></li>
        <li><form action="logout" method="POST">
            <input class="button" type="submit" value="logout">
        </form></li>
    </ul>
    
</nav>

