<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
        <link href="/assets/index_styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>404, OOPS!</h1>
        <p>Page not found!</p>
        
    </body>
</html>