<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
        <link href="/assets/index_styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
        <div class="nav-separator"></div>
        <h1>Pokerish</h1>
        <p>A live poker session tracker!</p>
        <ul>
          <li><a href="/login">Mi Cuenta</a></li>
          <li><a href="/signup">Registro</a></li>
        </ul>
    </body>
</html>