<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
        <link href="/assets/allsessions.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <% include partials/button.ejs %>
        <div class="nav-separator"></div>
        <h1>Bienvenido</h1>
        <p><%= useremail %></p>
    </body>
</html>